@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

:root{
    --primary:#6366F1;
    box-sizing: border-box;
}

body{
    margin: 0%;
    font-family: 'Shippori Mincho B1', serif;
}

/*Navigation*/

.navigation{
    background-color: var(--primary);
    padding: 0.4rem;
    color: white;
}

.navigation ul{
    list-style: none;
    text-align: right;
    
}

.navigation li{
    display: inline-block;
    padding-right: 1rem;
}
.navigation a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.active-link{
    font-weight: 700;
}

/*Section*/

.home{
    background-color:rgb(247, 228, 204);
    padding: 4.3rem 0rem 3rem;
    text-align: center;
    color: rgb(92, 91, 91);
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    
}
.img{
    width: 450px;
    padding-left: 20px;
    
} 
@media (max-width:800px){
    .img{
        max-width: 400px;
        padding: 40px 40px 40px 205px;;
        align-items: center;
    } 
}
@media (max-width:600px){
    .img{
        max-width: 300px;
        padding: 40px 40px 40px 107px;
        align-items: center;
    } 
}
@media (max-width:400px){
    .img{
        max-width: 290px;
        padding: 19px 19px 19px 44px;
        align-items: center;
    }
    .navigation li {
        display: inline-block;
        padding-right: 5rem;
    }
}

#quote{
    font-size: 25px;
}
.container{ 
    margin: auto;
    padding: 1rem;
}
.heading{
    padding-top: 0rem;
    font-size: 30px;
}
.title{
    color: black;
}
/* .button{
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-color: #6366F1;
    border-style: solid;
    background-color: #6366F1;
} */

/*footer*/
.footer{
    clear: left;
    background-color: var(--primary);
    padding-bottom: 0rem;
    color: white;
    font-size: 25px;
    text-align: center;
}
.fheading{
    padding: 9px;
}
.fa{
    padding: 1rem;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-linkedin {
    
    color: white;
  }

.fa-github{
    color: white;
}
.fa-twitter{
    color:white;
}