@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

:root{
    --primary:#6366F1;
}

body{
    margin: 0%;
    font-family: 'Shippori Mincho B1', serif;
}

/*Navigation*/

.navigation{
    background-color: var(--primary);
    padding: 0.4rem;
    color: white;
}

.navigation ul{
    list-style: none;
    text-align: right;
    
}

.navigation li{
    display: inline-block;
    padding-right: 1rem;
}
.navigation a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.active-link{
    font-weight: 700;
}

/*Section*/
.home{
    background-color:rgb(247, 228, 204);
    padding: 1rem 0rem 5.5rem;
    text-align: center;
    color: rgb(92, 91, 91);
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    
}
.img{
    max-width: 450px;
    padding-left: 10px;
    
}
@media screen and(max-width:300px){
    .img{
        padding:0rem;
        max-width: 300px;
    }
}
#quote{
    font-size: 25px;
}
.container{
    margin: auto;
}
.heading{
    padding-top: 0rem;
    font-size: 30px;
}
.title{
    color: black;
}
/* .button{
    text-decoration: none;
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-color: #6366F1;
    border-style: solid;
    background-color: #6366F1;
} */

/*footer*/
.footer{
    clear: left;
    background-color: var(--primary);
    padding-bottom: 0rem;
    color: white;
    font-size: 25px;
    text-align: center;
}
.fa{
    padding: 1rem;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa-linkedin {
    
    color: white;
  }

.fa-github{
    color: white;
}
.fa-twitter{
    color:white;
}